# gradle

.gradle/
build/
out/
classes/

# kotlin
.kotlin/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# LilyBot
.linkie-cache/
data/
.env
.config/ext-pluralkit/
