name: Build Only

on:
  push:
    branches-ignore:
      - main

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3

        with:
          distribution: 'temurin'
          java-version: 17

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Artifacts
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build --stacktrace
          gradle-home-cache-cleanup: true

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Build Only Artifacts
          path: build/libs/*[0-9].jar
