name: Build & Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3

        with:
          distribution: 'temurin'
          java-version: 17

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Artifacts
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build --stacktrace

      - name: Extract Current Branch name
        shell: bash

        # bash pattern expansion to grab branch name without slashes
        run: ref="${GITHUB_REF#refs/heads/}" && echo "::set-output name=branch::${ref////-}"
        id: ref

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3

        with:
          name: build-artifacts-${{ steps.ref.outputs.branch }}
          path: build/libs/*[0-9].jar

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2

        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - run: docker build -t ghcr.io/irisshaders/lilybot:latest .
      - run: docker push ghcr.io/irisshaders/lilybot:latest
